<div class="about">
    <div class="para">
        <h1>About</h1>
        is your on-line place for trustful professional advice on digital
        image and video products. At digishop.org our goal is for helping
        on-line visitors to select the best fit products. Moreover, we want
        to help our visitors for using their digital cameras, camcorders
        and everything related to digital photography and video by providing
        continuing support through posted articles. digishop.org not only
        gives you professional information on digital cameras, digital
        camcorders, lenses, surveillance systems and accessories for all
        these products, but also offers to buy the best products of each
        category at the best prices and delivery options on the market.

        We invite you to read our posts in Hints section, offering some
        basic knowledge in digital photography and in digital video. Our
        initial target is low and intermediate level audience, for
        encouraging people to make better pictures and videos for
        personal use. We will be more than delighted to hear that 
        an enthusiast encouraged by digishop.org became a passionate 
        photographer, video producer or even an artist.
    </div>
</div>