.logForm{
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
}
h1{
    text-align: center;
    padding-top: 100px;
}
.body{
    background-color: antiquewhite;
    padding-bottom: 250px;
}